*.apk
*.dex
bin/
gen/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*~
gen
bin
.*.swp
/.classpath
/.project
.idea/
.settings/
gen-external-apklibs/
target/
classes/
project.properties
signing.properties
*.iml
.DS_Store
out/

